* {
  box-sizing: border-box;
}
/* BODY  */
body {
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png') repeat center;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #444349;
}
.locations,
.program,
.gifts,
.quan,
.contact {
  width: 90%;
  margin: 1.5rem auto;
  padding: .5rem 1rem;
  text-align: center;
}
h1,
h2 {
  font-family: 'Great Vibes', cursive;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 1.5rem;
}
a {
  text-decoration: none;
  color: #bd806e;
}

a:hover {
  color: #eda087;
  transition: color .15s ease-in-out;
}

/* HEADER  */
.cover {
  background: url('https://i.imgur.com/RPAAYOR.jpg') no-repeat center/cover;
  display: table;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

@media (min-width: 768px) {
  .cover {
    background: url('https://i.imgur.com/RPAAYOR.jpg') no-repeat center/cover;
  }
}

.hatter {
  display: table-cell;
  vertical-align: middle;
}
.text {
  margin: 0 auto;
  padding: .625rem;
  color: hsla(0,0%,100%,.9);
  background: hsla(100,0%,0%,.5);
}
.text h1 {
  font-size: 3.15rem;
  color: #d2ba87;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .text {
    padding: 1.25rem;
    border-radius: 4px;
    width: 50%;
  }
  .text h1 {
    font-size: 7rem;
  }
}

@media (min-width: 768px) {
  .fejlec {
    text-transform: uppercase;
  }
}

.fejlec::after {
  display: block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 9rem;
  margin: .4rem auto;
}
.datum {
  font-size: 1.25rem;
  letter-spacing: .15rem;
  vertical-align: middle;
}
.datum::before,
.datum::after {
  display: inline-block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 1.5rem;
  vertical-align: middle;
  margin: 0 .5rem;
}

/* Locations  */
.loc {
  height: 7rem;
  font-weight: 700;
}
.loca {
  font-family: 'Muli', sans-serif;
}
.loc::after {
  content: "";
  display: block;
  height: .1875rem;
  width: 25vw;
  margin: 1.5rem auto;
  background-color: #444349;
}

@media (min-width: 768px) {
  .blurb {
    display: inline-block;
    width: 30%;
    padding: 1.5rem;
    margin: .5rem;
  }
  .blurb::after {
    display: none;
  }
}
/* Programs  */

.program {
  width: 100vw;
  text-align: left;
  background: hsla(100,0%,0%,.6);
  color: #d2ba87;
  font-family: 'Muli', sans-serif;
  text-align: center;
}

.progh {
  font-family: 'Great Vibes', cursive;
  margin-top: 1rem; /* To account for the unequal margins compared to the previous section. */
  
}

.program p {
  font-style: italic;
}

.program ul {
  letter-spacing: .025rem;
  list-style-type: none;
}
@media (min-width: 768px) {

  .progh {
    width: 30vw;
    margin: 0 auto;
  }

}

/* GIFT  */
.gifts img {
  height: 7.5rem;
}

.gifts p:last-child {
  margin-bottom: 0;
}

/* Q and A  */
.quan {
  background: hsla(100,0%,0%,.6);
  color: #d2ba87;
  width: 100vw;
  text-align: center;
}
.quan h3 {
  margin-top: 1rem;
  color: #eda087;
}
.quan p {
  font-family: 'Muli', sans-serif;
  text-align: left;
}
.quans::after {
  content: "";
  display: block;
  height: .1875rem;
  width: 50vw;
  margin: 1.5rem auto;
  background-color: #d2ba87;
}
.que {
  font-weight: 700;
  margin-bottom: .5rem;
  text-decoration: underline;
}

.ans {
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {

  .quans {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding: 1.5rem;
    margin: .5rem;
  }

  .quans::after {
    display: none;
  }

  .quans h3 {
    text-align: left;
  }

}

/* FOOTER  */
footer {
  height: 10vh;
  width: 100vw;
  background-color: #606060;
  color: #fff;
  font-family: 'Muli', sans-serif;
  display: table;
  text-align: center;
  font-size: .875rem;
}
.footers {
  display: table-cell;
  vertical-align: middle;
  padding: .5rem 1rem;
}
footer p {
  margin-bottom: 0;
}
@media (min-width: 768px) {

  footer {
    min-height: 7vh;
  }

}